.form-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(/public/assets/Book_background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.form-container::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(150, 191, 15, 0.55);
}

.reservation-form {
  position: relative;
}