@use '../base';
@use '../colors' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 0;
  background-color: whitesmoke;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 1rem;
  width: 20rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  @media screen and (min-width: 992px) {
    flex-direction: row;
    max-height: none;
    width: auto;
    gap: 2rem;
    align-items: flex-start;
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 0;

    @media screen and (min-width: 992px) {
      min-width: 22rem;
    }

    .image {
      height: 26rem;
      min-height: 22rem;
      position: relative;

      @media screen and (min-width: 992px) {
        width: 100%;
        min-height: unset;
        height: unset;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 0.8rem;
        overflow: hidden;
      }

      .reserveBtn {
        @extend .btn-primary;

        position: absolute;
        top: 80%;
        border-radius: 100vw;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.1);
        display: flex;
        width: min-content;
        align-items: center;
        font-size: 1.2rem;
        padding: 0.5em;
        padding-left: 1em;
        gap: 0.6em;
        margin: 0 auto;
        margin-top: 1rem;

        &:hover {
          background-color: white;
          color: $green;
        }
      }
    }

    .details {
      margin-top: 1rem;
      background-color: rgba(175, 175, 175, 0.2);
      border-radius: 0.4rem;
      padding: 0.8rem;
      gap: 2rem;
    }
  }

  // background-color: whitesmoke;

  .price {
    background-color: orangered;
    color: white;
    border-radius: 0.2em;
    padding: 0.4em 0.8em;
    cursor: pointer;
    margin-left: auto;
  }

  .stars {
    width: fit-content;
    align-self: flex-end;
  }

  .stars > * {
    color: rgb(245, 155, 20);
  }

  .desc {
    text-align: left;
    margin-top: 0.8em;
    $black: black;

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // background-color: rgba($black, 0.06);
    padding: 0.4em;
    border-radius: 0.4em;

    @media screen and (min-width: 992px) {
      margin-top: 0;
      align-items: stretch;
      justify-content: space-between;
      height: auto;
      padding: 1rem;
      font-size: 1.2rem;
      gap: 2rem;
    }

    .badge {
      background-color: royalblue;
      color: whitesmoke;
      padding: 0.2em;
      display: inline-block;
      border-radius: 0.2em;
      margin-bottom: 0.2em;
    }

    aside {
      text-align: center;
    }
  }
}

