
.remove {
  position: relative;

  .btn {
    position: absolute;
    font-size: 1.4em;
    font-weight: bold;
    width: max-content;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: crimson;
    color: white;
    padding: 0.4em;
  }
}
