$green: #97bf0f;

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media screen and (min-width: 725px) {
  .App {
    flex-direction: row;
  }
}

.navbar {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;

  h1 {
    font-family: Smooch, sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }

  .links {
    display: flex;
    font-weight: bold;
    align-items: center;
    gap: 1rem;

    li a {
      display: block;
      padding: 0.4rem;
      width: 100%;
      transition-property: background-color, color;
      transition-duration: 200ms;

      &:hover {
        background-color: $green;
        color: whitesmoke;
      }
    }
  }

  .social-icons {
    background-color: red;
  }

  .copyright {
    display: none;
  }
}

@media screen and (min-width: 725px) {
  .navbar {
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
    height: 100vh;
    padding-left: 1rem;
    flex-direction: column;

    .links {
      flex-direction: column;
      align-items: stretch;

      li a {
        padding: 0.6rem 1rem;
      }
    }

    .copyright {
      display: inline;
    }
  }
}
