@use './colors' as *;

.btn {
  cursor: pointer;
  transition: background-color 240ms;

  &:disabled {
    background-color: rgb(119, 119, 119);
  }
}

.btn-primary {
  @extend .btn;

  color: white;
  background-color: rgb(54, 112, 37);
  background-color: $green;
}

.btn-primary:active {
  background-color: lighten($green, 5%);
}
